body{
  width:70%;
  margin:auto;
  font-family: 'Lato', sans-serif;
  color: #2C3E50;
  text-align:center;
  background-color:#ECF0F1;
  text-rendering:optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  margin:.5rem;
}

p {
  font-family: 'Lato', sans-serif;
}

a {color: #2980B9;}
a:active, a:hover {color: #E74C3C;}
/*a:visited {color: #85144B;}*/

.btnContainer {
  text-align:center;
  width: 100%;
  margin: 1.5rem 0;
}

.sel {
  color:#2C3E50;
  border:0.15rem solid #2C3E50;
  padding: .5rem .75rem;
  border-radius:4px;
  margin:.5rem;
  cursor:pointer;
}

a.sel {
  text-decoration:none;
}

a.sel:hover, .sela {
  color: #ECF0F1;
  background-color:#2C3E50;
}

.num {
  display: inline-block;
  width: 1.75rem;
  font-size:18px;
  text-align:center;
}

.count {
  display: inline-block;
  width: 2rem;
  background-color: #DDDDDD;
  margin-left: 1rem;
  padding: .3rem;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
}

.spam {
  display: inline;
  /*width: 2rem;*/
  margin-left: .3rem;
  padding: .3rem;
  text-align: center;
  vertical-align: middle;
  color:#E74C3C;
}

.hl {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #DDDDDD;
  padding:.25rem;
  width:80%;
  outline: none;
  text-align:left;
  font-size:16px;

  border-radius:4px;
}

#length {
  text-align:center;
  /*overflow: auto;*/
  width: 100%;
  /*clear:both;*/
  margin: 2rem 0;
}

.len {
  display: inline-block;
  width: 2rem;
  padding: .3rem;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
}

.leny {background-color:#f1c40f;}
.leno {background-color:#e67e22;}
.lenr {background-color:#E74C3C;}
.lens {background: repeating-linear-gradient(45deg, #DDDDDD, #DDDDDD 10px, #f1c40f 10px, #f1c40f 20px); width: auto !important;}

.feedback {
  border: none;
  background-color: #3498DB;
  color: #FFF;
  padding:.5rem .5rem;
  width:60%;
  outline: none;
  text-align:center;
  font-size:16px;
  border-radius:4px;
  cursor:pointer;

}

.feedback:hover {
  background-color:#2980B9;
}

.download {
  color:#2C3E50;
  border:0.15rem solid #2C3E50;
  padding: .5rem .75rem;
  border-radius:4px;
  margin:.5rem;
  cursor:pointer;
}

a.download {
  text-decoration:none;
}

a.download:hover {
  color: #ECF0F1;
  background-color:#2C3E50;
}

.reset {
  color:#E74C3C;
  border:0.15rem solid #E74C3C;
  padding: .5rem .75rem;
  border-radius:4px;
  margin:.5rem;
  cursor:pointer;
}

a.reset {
  text-decoration:none;
}

a.reset:hover {
  color: #ECF0F1;
  background-color:#E74C3C;
}

/*------------------------------------------*/

@media only screen and (max-width: 767px) {
  /* phones */
  .count{display:none;}
  body{width:95%;}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .count{display:none;}
  body{width:95%;}
}

.hide{display:none;}

body:-webkit-full-screen {width:100%;}
body:-moz-full-screen {width:100%;}
body:-ms-full-screen {width:100%;}
body:-o-full-screen {width:100%;}
body:full-screen {width:100%;}
body::backdrop{background-color:#ECF0F1;}


html:-webkit-full-screen {background-color:#ECF0F1;}
html:-moz-full-screen {background-color:#ECF0F1;}
html:-ms-full-screen {background-color:#ECF0F1;}
html:-o-full-screen {background-color:#ECF0F1;}
html:full-screen {background-color:#ECF0F1;}
